<form class="add-form" (ngSubmit)="onSubmit()" *ngIf="showAddTask">
  <div class="form-control">
    <label for="text">Tarea</label>
    <input
      type="text"
      name="text"
      id="text"
      placeholder="Ingrese una tarea"
      [(ngModel)]="text"
    />
  </div>

  <div class="form-control">
    <label for="day">Día y hora</label>
    <input
      type="datetime-local"
      name="day"
      id="day"
      [(ngModel)]="day"
    />
  </div>

  <div class="form-control form-control-check">
    <label for="reminder">¿Recordarlo?</label>
    <input
      type="checkbox"
      name="reminder"
      id="reminder"
      [(ngModel)]="reminder"
    />
  </div>

  <input type="submit" value="Guardar tarea" class="btn btn-block" />
</form>
